.App {
  position: relative;
  text-align: center;
}

.bubble-red,
.bubble-blue,
.bubble-green,
.bubble-yellow {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  opacity: .8;
}

.bubble-red {
  top: 100px;
  left: 100px;
  background-color: red;
  animation: floating-red 2s linear infinite alternate;
}
.bubble-blue {
  top: 300px;
  left: 150px;
  background-color: blue;
  animation: floating-blue 2s linear infinite alternate;
}
.bubble-green {
  top: 180px;
  left: 450px;
  background-color: green;
  animation: floating-green 2s linear infinite alternate;
}
.bubble-yellow {
  top: 380px;
  left: 650px;
  background-color: yellow;
  animation: floating-yellow 2s linear infinite alternate;
}

@keyframes floating-red {
  0 {
    left: 110px
  }
  100% {
    left: 90px
  }
}
@keyframes floating-blue {
  0 {
    left: 140px
  }
  100% {
    left: 160px
  }
}
@keyframes floating-green {
  0 {
    left: 440px
  }
  100% {
    left: 460px
  }
}
@keyframes floating-yellow {
  0 {
    left: 660px
  }
  100% {
    left: 640px
  }
}
