.App {
  position: relative;
  text-align: center;
}

.bubble-red {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: red;
  animation: floating 2s linear infinite alternate;
}

@keyframes floating {
  0 {
    left: 110px
  }
  100% {
    left: 90px
  }
}
