.bubble-1,
.bubble-2,
.bubble-3,
.bubble-4 {
  position: absolute;
  top: 45%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: background-color .2s;
}

@media only screen
  and (min-width: 900px) {
    .bubble-1,
    .bubble-2,
    .bubble-3,
    .bubble-4 {
      width: 110px;
      height: 110px;
    }
}

.bubble-1 {
  left: 15%;
  background-color: hsla(0,40%,50%,1);
  /*animation: rotation-red 30s infinite linear;*/
  animation: floating-red 2s linear infinite alternate;
}
.bubble-1.highlight {
  background-color: hsla(0,100%,50%,1);
}
.bubble-2 {
  left: 35%;
  background-color: hsla(240,40%,50%,1);
  /*animation: rotation-blue 30s infinite linear;*/
  animation: floating-blue 2s linear infinite alternate;
}
.bubble-2.highlight {
  background-color: hsla(240,100%,50%,1);
}
.bubble-3 {
  left: 55%;
  background-color: hsla(120,40%,25%,1);
  /*animation: rotation-green 30s infinite linear;*/
  animation: floating-green 2s linear infinite alternate;
}
.bubble-3.highlight {
  background-color: hsla(120,100%,25%,1);
}
.bubble-4 {
  left: 75%;
  background-color: hsla(60,40%,50%, 1);
  /*animation: rotation-yellow 30s infinite linear;*/
  animation: floating-yellow 2s linear infinite alternate;
}
.bubble-4.highlight {
  background-color: hsla(60,70%,50%,1);
}

@keyframes floating-red {
  0 {
    left: 16%;
  }
  100% {
    left: 14%;
  }
}
@keyframes floating-blue {
  0 {
    left: 34%;
  }
  100% {
    left: 36%;
  }
}
@keyframes floating-green {
  0 {
    left: 56%;
  }
  100% {
    left: 54%;
  }
}
@keyframes floating-yellow {
  0 {
    left: 74%;
  }
  100% {
    left: 76%;
  }
}

/*@keyframes rotation-red {
  from {
    transform:  rotate(0deg)
                translate(-150px)
                rotate(0deg);
  }
  to {
    transform:  rotate(360deg)
                translate(-150px)
                rotate(-360deg);
  }
}
@keyframes rotation-blue {
  from {
    transform:  rotate(90deg)
                translate(-150px)
                rotate(90deg);
  }
  to {
    transform:  rotate(450deg)
                translate(-150px)
                rotate(-270deg);
  }
}
@keyframes rotation-green {
  from {
    transform:  rotate(-90deg)
                translate(-150px)
                rotate(-90deg);
  }
  to {
    transform:  rotate(270deg)
                translate(-150px)
                rotate(-270deg);
  }
}
@keyframes rotation-yellow {
  from {
    transform:  rotate(180deg)
                translate(-150px)
                rotate(180deg);
  }
  to {
    transform:  rotate(540deg)
                translate(-150px)
                rotate(-180deg);
  }
}*/
