.bubble-1,
.bubble-2,
.bubble-3,
.bubble-4 {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: background-color 0.2s;
}

.bubble-1 {
  top: 50%;
  left: 20%;
  background-color: hsla(0,40%,50%,1);
  /*animation: rotation-red 30s infinite linear;*/
  animation: floating-red 2s linear infinite alternate;
}
.bubble-1.highlight {
  background-color: hsla(0,100%,50%,1);
}
.bubble-2 {
  top: 50%;
  left: 40%;
  background-color: hsla(240,40%,50%,1);
  /*animation: rotation-blue 30s infinite linear;*/
  animation: floating-blue 2s linear infinite alternate;
}
.bubble-2.highlight {
  background-color: hsla(240,100%,50%,1);
}
.bubble-3 {
  top: 50%;
  left: 60%;
  background-color: hsla(120,40%,25%,1);
  /*animation: rotation-green 30s infinite linear;*/
  animation: floating-green 2s linear infinite alternate;
}
.bubble-3.highlight {
  background-color: hsla(120,100%,25%,1);
}
.bubble-4 {
  top: 50%;
  left: 80%;
  background-color: hsla(60,40%,50%, 1);
  /*animation: rotation-yellow 30s infinite linear;*/
  animation: floating-yellow 2s linear infinite alternate;
}
.bubble-4.highlight {
  background-color: hsla(60,70%,50%,1);
}

@keyframes floating-red {
  0 {
    left: 21%;
  }
  100% {
    left: 19%;
  }
}
@keyframes floating-blue {
  0 {
    left: 39%;
  }
  100% {
    left: 41%;
  }
}
@keyframes floating-green {
  0 {
    left: 61%;
  }
  100% {
    left: 59%;
  }
}
@keyframes floating-yellow {
  0 {
    left: 79%;
  }
  100% {
    left: 81%;
  }
}

/*@keyframes rotation-red {
  from {
    transform:  rotate(0deg)
                translate(-150px)
                rotate(0deg);
  }
  to {
    transform:  rotate(360deg)
                translate(-150px)
                rotate(-360deg);
  }
}
@keyframes rotation-blue {
  from {
    transform:  rotate(90deg)
                translate(-150px)
                rotate(90deg);
  }
  to {
    transform:  rotate(450deg)
                translate(-150px)
                rotate(-270deg);
  }
}
@keyframes rotation-green {
  from {
    transform:  rotate(-90deg)
                translate(-150px)
                rotate(-90deg);
  }
  to {
    transform:  rotate(270deg)
                translate(-150px)
                rotate(-270deg);
  }
}
@keyframes rotation-yellow {
  from {
    transform:  rotate(180deg)
                translate(-150px)
                rotate(180deg);
  }
  to {
    transform:  rotate(540deg)
                translate(-150px)
                rotate(-180deg);
  }
}*/
